.s-main-nav {
  font-weight: 500;

  ul {
    margin: 0;
    padding: 0;
    list-style: none;
    max-width: none;

    li {
      margin: 0;
      padding: 0;

      a {
        display: block;
        vertical-align: middle;
        color: currentColor;
        text-decoration: none;
        padding: 0.75rem 2.25rem;
        position: relative;

        &::after {
          position: absolute;
          content: '';
          top: 0;
          left: 0;
          height: 100%;
          width: 2px;
          opacity: 0;
          background-color: $primary-color;
        }

        &:hover,
        &:focus {
          color: $primary-color;

          &::after {
            opacity: 1;
          }
        }

        svg,
        span {
          display: inline-block;
          vertical-align: middle;
        }

        svg {
          margin-right: 1.25rem;
          fill: currentColor;
        }
      }
    }
  }
}
