mixin main-nav(mods)

  //- Param:
    mods  {string} - modifiers

  //- Usage:
    +main-nav()

  -
    // Modifiers
    var allMods = '';
    if (typeof(mods) !== 'undefined' && mods) {
      var modsList = mods.split(',');
      for (var i = 0; i < modsList.length; i++) {
        allMods = allMods + ' s-main-nav--' + modsList[i].trim();
      }
    }

  nav.s-main-nav(class=allMods)&attributes(attributes)
    ul
      li
        a(href='/')
          +svg-icon('home', '16', '17')
          span Главная
      li
        a(href='/')
          +svg-icon('about', '16', '16')
          span О компании
      li
        a(href='/')
          +svg-icon('certificates', '15', '16')
          span Сертификаты
      li
        a(href='/')
          +svg-icon('vacancies', '16', '16')
          span Вакансии
      li
        a(href='/')
          +svg-icon('road-map', '16', '14')
          span Дорожная карта
      li
        a(href='/')
          +svg-icon('contacts', '16', '14')
          span Контакты