.s-table {
  display: block;
  width: 100%;
  margin-top: 1rem;
  margin-bottom: 1rem;
  overflow-x: auto;
  font-size: 0.707em;
  line-height: 1.5em;

  table {
    margin: 0;
    border: 0;
    border-collapse: collapse;
    width: 100%;
  }

  td {
    padding: 0.5rem 0.75rem;
    vertical-align: top;
    color: rgba($text-color, 0.75);
  }

  tr {

    &:nth-child(odd) {
      background-color: $bg-color--shade;
    }
  }

  th {
    text-align: left;
    font-weight: 500;
    padding: 0.5rem 0.75rem;
    border-bottom: 1px solid rgba($text-color, 0.25);
    color: rgba($text-color, 0.75);
    font-weight: 700;
    background-color: #fff;

    &:first-child {
      border-top-left-radius: 4px;
    }

    &:last-child {
      border-top-right-radius: 4px;
    }
  }

  caption {
    caption-side: top;
    text-align: left;
    padding: 0.5rem;
    border-bottom: 1px solid $border-color;
    line-height: 1em;
  }
}