@at-root {

  @-ms-viewport {
    width: device-width;
  }
}

.s-page {
  box-sizing: border-box;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -ms-overflow-style: scrollbar;
  min-height: 100%;
  min-width: 320px;
  font-size: 20px;
  line-height: 1.5em;

  &__inner {
    position: relative;

    @media only screen and (min-width: $screen-md) {
      display: flex;
      height: 100vh;
    }
  }

  &__sidebar {
    flex: 0 0 350px;
    max-width: 500px;

    @media only screen and (max-width: ($screen-md - 1)) {
      display: none;
    }
  }

  &__content {
    flex-basis: 0;
    flex-grow: 1;
    max-width: 100%;
    overflow: auto;

    @media only screen and (min-width: $screen-md) {
      padding: 1rem;
    }
  }
}