.s-promo {
  position: relative;
  z-index: 1;

  &__slide {
    position: relative;
  }

  &__slide-cover {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;

    &::after {
      position: absolute;
      content: '';
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background:
        url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAIAAAACCAQAAADYv8WvAAAAEElEQVQI12Ng2MzgzwBE/gAIuAGhVALuJAAAAABJRU5ErkJggg==),
        rgba($text-color, 0.5);
      background-repeat: repeat, no-repeat;
    }

    img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__slide-content {
    position: relative;
    z-index: 2;
    color: #fff;
    padding: 10rem 1rem 1.5rem;

    @media only screen and (min-width: $screen-sm) {
      padding: 8rem 3rem 10rem;
    }
  }

  &__slide-content-inner {
    max-width: 720px;
    margin: auto;

    @media only screen and (min-width: $screen-sm) {
      text-align: center;
    }
  }

  &__slide-title {
    font-size: 1.999em;
    line-height: 1.1em;
    margin-top: 0;
    margin-bottom: 0.75rem;
    max-width: 40em;
    text-transform: uppercase;
    font-weight: 800;

    @media only screen and (min-width: $screen-xl) {
      font-size: 2.827em;
    }
  }

  &__slide-desc {
    font-size: 0.707em;
    line-height: 1.5em;
    margin-bottom: 1.5rem;
  }
}