mixin sidebar(mods)

  //- Param:
    mods  {string} - modifiers

  //- Usage:
    +sidebar()

  -
    // Modifiers
    var allMods = '';
    if (typeof(mods) !== 'undefined' && mods) {
      var modsList = mods.split(',');
      for (var i = 0; i < modsList.length; i++) {
        allMods = allMods + ' s-sidebar--' + modsList[i].trim();
      }
    }

  .s-sidebar(class=allMods)&attributes(attributes)
    .s-sidebar__header
      +logo('/index.html')
        svg(xmlns='http://www.w3.org/2000/svg', fill='none', viewbox='0 0 201 39', width='201', height='39')
          path(fill='#1AA0BE', d='M44.2158 6.03505h-2.2665l-3.2942 3.26789-3.2943-3.29424h-5.587v10.3571H18.0726c-1.2122-.0527-2.161-1.0542-2.161-2.2664 0-1.2123.9488-2.2138 2.161-2.2665h9.3821V5.95599h-9.5138c-.1318 0-.2372 0-.369.02636-4.243.31624-7.5372 3.84767-7.5372 8.11705 0 4.2956 3.2942 7.8007 7.5372 8.117.1318.0263.2372.0263.369.0263h14.1257v-.0263h3.5578v-8.7232l2.978 2.978.0263-.0263.0264.0263 3.057-3.057v8.8022h5.877V6.0087h-3.3733v.02635z')
          path(fill='#ffffff', d='M17.5192 23.6922c-4.9545-.3953-8.82854-4.5856-8.82854-9.5665 0-4.98088 3.87404-9.17116 8.82854-9.56647.0527 0 30.0699-.02635 30.0699-.02635C46.9829 1.92384 44.6374 0 41.8703 0H17.282C10.0611 0 .600006 7.90618.600006 14.073c0 6.0087 9.461094 14.0203 16.681994 14.0203.0791 0 22.3218.0264 24.6673.0264 2.7408 0 5.0336-1.8712 5.6925-4.4012-.0527 0-29.9644-.0263-30.1226-.0263zM57.8144 6.27223c0-4.55923 1.7921-6.2195261 6.6675-6.2195261 1.5022 0 2.5037.1581231 3.9795.5797861l-.1845 3.05706c-1.4495-.36896-2.3719-.52708-3.5051-.52708-2.4509 0-3.2152.76426-3.2152 3.10976S62.3209 9.382 64.7718 9.382c1.1332 0 2.0556-.15813 3.5051-.52708l.1845 3.05708c-1.4758.4216-2.4773.5798-3.9795.5798-4.8754 0-6.6675-1.6603-6.6675-6.21957zM69.5419 5.7188H74.76v2.89893h-5.2445V5.7188h.0264zM76.104 6.27223c0-4.55923 1.7921-6.2195261 6.6676-6.2195261 1.5021 0 2.5036.1581231 3.9794.5797861l-.1845 3.05706c-1.4494-.36896-2.3718-.52708-3.505-.52708-2.4509 0-3.2152.76426-3.2152 3.10976S80.6106 9.382 83.0615 9.382c1.1332 0 2.0556-.15813 3.505-.52708l.1845 3.05708c-1.4758.4216-2.4773.5798-3.9794.5798-4.8755 0-6.6676-1.6603-6.6676-6.21957zM88.3849.263535h7.0366c3.426 0 4.6385 1.106865 4.6385 4.084855 0 2.13467-.6064 3.29424-2.214 3.79497l3.083 4.13754h-4.4007l-2.6881-3.84765h-1.8184v3.84765h-3.6105V.263535h-.0264zm6.5358 5.270785c1.1859 0 1.5549-.3426 1.5549-1.15957 0-.86968-.4217-1.18593-1.5549-1.18593h-2.8989v2.3455h2.8989zM102.142.263535h11.016V3.26788h-7.379v1.50218h6.114v2.87258h-6.114v1.66029h7.537v3.00437h-11.148V.263535h-.026zM114.054.263535h3.742l1.713 6.931085L121.38.263535h3.505l1.924 7.036495 1.713-7.036495h3.558L128.838 12.2809h-3.689l-2.056-7.56355-2.056 7.56355h-3.689L114.054.263535zM58.2888 16.0759h5.1653l2.7145 6.8784 2.6881-6.8784h5.2971v12.0174h-3.6105v-8.3279l-3.2679 8.3279h-2.3718l-3.1625-8.117v8.117h-3.426V16.0759h-.0263zM79.8463 16.0759h4.4274l4.6383 12.0174h-3.874l-.7379-2.0029h-4.6647l-.7379 2.0029H75.208l4.6383-12.0174zm3.505 7.1946l-1.3704-4.0585-1.3704 4.0585h2.7408zM89.9662 16.0759h4.1112l4.5065 6.6148v-6.6148h3.4261v12.0174h-3.4261l-5.2181-7.6426v7.6426h-3.426V16.0759h.0264zM107.729 16.0759h4.427l4.638 12.0174h-3.874l-.737-2.0029h-4.665l-.738 2.0029h-3.69l4.639-12.0174zm3.478 7.1946l-1.37-4.0585-1.37 4.0585h2.74zM117.084 22.0582c0-4.6119 1.792-6.1931 7.09-6.1931 1.607 0 2.846.1317 4.322.5007l-.185 3.0043c-1.555-.3162-2.767-.4743-4.032-.4743-2.662 0-3.452.7115-3.452 3.1624 0 2.4246.79 3.2679 3.004 3.2679.527 0 1.028-.0527 1.529-.1317v-1.5813h-1.924v-2.8726h5.35v6.9311c-1.872.5008-3.216.6852-4.85.6852-5.06-.0527-6.852-1.713-6.852-6.2986zM130.92 16.0759h11.016v3.0043h-7.379v1.5022h6.114v2.8726h-6.114v1.6603h7.537v3.0043h-11.147V16.0759h-.027zM144.15 16.0759h5.165l2.715 6.8784 2.688-6.8784h5.297v12.0174h-3.611v-8.3279l-3.267 8.3279h-2.372l-3.163-8.117v8.117h-3.426V16.0759h-.026zM162.492 16.0759h11.016v3.0043h-7.379v1.5022h6.114v2.8726h-6.114v1.6603h7.537v3.0043h-11.147V16.0759h-.027zM175.722 16.0759h4.111l4.507 6.6148v-6.6148h3.426v12.0174h-3.426l-5.218-7.6426v7.6426h-3.426V16.0759h.026zM193.063 19.133h-3.901v-3.0571H200.6v3.0571h-3.9v8.9603h-3.611V19.133h-.026zM58.2624 33.3904h4.5329v.6589h-3.795v1.6603h3.2679v.6588h-3.2679v2.2928h-.7379v-5.2708zM63.3487 36.0258c0-2.0292.7379-2.7408 2.8199-2.7408s2.8199.7116 2.8199 2.7408c0 2.0293-.7379 2.7408-2.8199 2.7408s-2.8199-.7115-2.8199-2.7408zm4.8755 0c0-1.5812-.4744-2.0556-2.0556-2.0556-1.5812 0-2.0556.4744-2.0556 2.0556 0 1.5813.4744 2.0556 2.0556 2.0556 1.5812.0264 2.0556-.448 2.0556-2.0556zM69.7527 36.0258c0-1.9765.7906-2.7408 2.8199-2.7408.6588 0 1.1859.0791 1.7921.2899l-.0528.6852c-.6325-.2108-1.1068-.2899-1.7393-.2899-1.5549 0-2.0556.5271-2.0556 2.0556 0 1.5286.5007 2.0556 2.0556 2.0556.6325 0 1.1068-.079 1.7393-.2899l.0528.6852c-.6325.2109-1.1333.2899-1.7921.2899-2.0293 0-2.8199-.7379-2.8199-2.7408zM75.2607 36.5266v-3.1362h.7379v3.1625c0 1.2386.3426 1.5285 1.713 1.5285s1.713-.3162 1.713-1.5285v-3.1625h.7116v3.1362c0 1.7657-.5271 2.2664-2.451 2.2664-1.8974-.0264-2.4245-.5271-2.4245-2.2664zM80.9532 38.4504l.0527-.7116c.6588.2372 1.3967.369 2.2664.369 1.265 0 1.6603-.2372 1.6603-.9224 0-.5271-.2372-.7116-1.265-.7906l-.817-.0791c-1.3967-.1318-1.8184-.4744-1.8184-1.4231 0-1.1596.6325-1.5812 2.3719-1.5812.7906 0 1.4231.079 2.0029.2635l-.0527.7116c-.6062-.2109-1.2387-.3163-2.0293-.3163-1.1859 0-1.5285.2109-1.5285.8697 0 .5007.2108.6589 1.265.7643l.8169.079c1.3968.1318 1.8185.5008 1.8185 1.5022 0 1.2123-.6325 1.6076-2.4509 1.6076-.8961-.0264-1.634-.1054-2.2928-.3426zM87.9897 36.0258c0-2.0292.7379-2.7408 2.8198-2.7408 2.082 0 2.8199.7116 2.8199 2.7408 0 2.0293-.7379 2.7408-2.8199 2.7408-2.0819 0-2.8198-.7115-2.8198-2.7408zm4.9018 0c0-1.5812-.4744-2.0556-2.0556-2.0556-1.5813 0-2.0556.4744-2.0556 2.0556 0 1.5813.4743 2.0556 2.0556 2.0556 1.5812.0264 2.0556-.448 2.0556-2.0556zM94.6835 33.3904h.9751l3.3206 4.1903v-4.1903h.7116v5.2972h-.7379l-3.5578-4.4802v4.4802h-.7116v-5.2972zM102.748 33.3904h.975l3.321 4.1903v-4.1903h.711v5.2972h-.738l-3.558-4.4802v4.4802h-.711v-5.2972zM109.073 33.3904h4.585v.6589h-3.847v1.5812h3.294v.6589h-3.294v1.6866h3.9v.6589h-4.638v-5.2445zM114.054 33.3904h.79l1.344 4.243 1.371-4.243h.764l1.37 4.243 1.344-4.243h.738l-1.686 5.2972h-.791l-1.37-4.243-1.371 4.243h-.817l-1.686-5.2972zM124.147 33.3904h.738v2.2401h3.479v-2.2401h.738v5.2972h-.738v-2.3455h-3.479v2.3455h-.738v-5.2972zM130.182 36.0258c0-2.0292.738-2.7408 2.82-2.7408s2.82.7116 2.82 2.7408c0 2.0293-.738 2.7408-2.82 2.7408s-2.82-.7115-2.82-2.7408zm4.902 0c0-1.5812-.474-2.0556-2.055-2.0556-1.582 0-2.056.4744-2.056 2.0556 0 1.5813.474 2.0556 2.056 2.0556 1.581.0264 2.055-.448 2.055-2.0556zM136.876 33.3904h3.11c1.318 0 1.818.4481 1.818 1.6076 0 1.0542-.421 1.5286-1.502 1.5813l1.713 2.0819h-.975l-1.687-2.0556h-1.739v2.0556h-.738v-5.2708zm3.005 2.5564c.869 0 1.159-.2372 1.159-.9224 0-.7116-.316-.9488-1.159-.9488h-2.267v1.8712h2.267zM142.859 33.3904h.737v5.2972h-.737v-5.2972zM144.492 38.1078l3.611-4.0585h-3.505v-.6589h4.559v.5798l-3.61 4.0585h3.689v.6589h-4.744v-.5798zM149.711 36.0258c0-2.0292.737-2.7408 2.819-2.7408s2.82.7116 2.82 2.7408c0 2.0293-.738 2.7408-2.82 2.7408s-2.819-.7115-2.819-2.7408zm4.875 0c0-1.5812-.474-2.0556-2.056-2.0556-1.581 0-2.055.4744-2.055 2.0556 0 1.5813.474 2.0556 2.055 2.0556 1.582.0264 2.056-.448 2.056-2.0556zM156.404 33.3904h.976l3.32 4.1903v-4.1903h.712v5.2972h-.738l-3.558-4.4802v4.4802h-.712v-5.2972zM162.308 38.4504l.052-.7116c.659.2372 1.397.369 2.267.369 1.265 0 1.66-.2372 1.66-.9224 0-.5271-.237-.7116-1.265-.7906l-.817-.0791c-1.397-.1318-1.818-.4744-1.818-1.4231 0-1.1596.632-1.5812 2.372-1.5812.79 0 1.423.079 2.003.2635l-.053.7116c-.606-.2109-1.239-.3163-2.029-.3163-1.186 0-1.529.2109-1.529.8697 0 .5007.211.6589 1.265.7643l.817.079c1.397.1318 1.818.5008 1.818 1.5022 0 1.2123-.632 1.6076-2.45 1.6076-.87-.0264-1.608-.1054-2.293-.3426z')


    .s-sidebar__main
      +main-nav().s-sidebar__nav

      .s-sidebar__contacts
        span.s-sidebar__subtitle Contact us
        ul
          li: a(href='tel:+78124587400') +7 (812) 458-74-00
          li: a(href='mailto:info@c-crewmanagement.com') info@c-crewmanagement.com
          //- li
          //-   address
          //-     | БЦ “Империал”, пр. Стачек,
          //-     br
          //-     | д. 48/2, офис 2401,
          //-     br
          //-     | Санкт-Петербург, Россия

      .s-sidebar__social
        span.s-sidebar__subtitle Follow us
        a(href='/', rel='noopener', target='_blank') vkontakte

    footer.s-sidebar__footer
      a.s-sidebar__language(href='/')
        span: abbr Eng
      .s-sidebar__documents
        ul
          li
            a(href='img/iso.jpg'): abbr Iso
          li
            a(href='img/mlc.jpg'): abbr Mlc
          li
            a(href='img/licence.pdf'): abbr Licence