.s-sidebar {
  background-color: $bg-color--dark;
  color: #fff;
  font-size: 0.707em;
  line-height: 1.4em;
  display: flex;
  flex-flow: column nowrap;
  height: 100vh;
  overflow-y: scroll;

  &__header {
    padding: 2.25rem;
  }

  &__main {
    flex-grow: 1;
    display: flex;
    flex-flow: column nowrap;
  }

  &__subtitle {
    font-size: 0.5rem;
    line-height: 1.4em;
    display: inline-block;
    font-weight: 400;
    margin-bottom: 1rem;
    letter-spacing: 0.1em;
    opacity: 0.25;
    display: block;
  }

  &__contacts {
    padding: 2rem 2.25rem 0;

    ul {
      margin: 0;
      padding: 0;
      list-style: none;
      max-width: none;

      li {
        margin: 0;
        padding: 0;

        a {
          padding: 0.25rem 0;
          font-feature-settings: 'tnum',
          'kern';
          font-weight: 400;
          color: currentColor;
          display: inline-block;
          opacity: 0.75;
          transition: all 0.25s cubic-bezier(0.4, 0, 0, 1);

          @supports (font-variant: lining-nums) {
            font-feature-settings: normal;
            font-variant: tabular-nums;
            font-kerning: normal;
          }

          &:hover,
          &:focus {
            opacity: 1;
            color: $primary-color;
            text-decoration: none;
          }
        }

        address {
          margin-top: 0.25rem;
          margin-bottom: 0;
          opacity: 0.5;
        }
      }
    }
  }

  &__footer {
    flex-shrink: 0;
    margin-top: auto;
    padding: 0 2.25rem;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
  }

  &__language {
    width: 60px;
    height: 60px;
    text-align: center;
    background-color: #fff;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    color: $text-color;
    margin-right: 1rem;
    position: relative;
    overflow: hidden;

    &::after {
      position: absolute;
      content: '';
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: $primary-color;
      transform: translateY(100%);
      transition: all 0.5s cubic-bezier(0.4, 0, 0, 1);
      opacity: 0.25;
    }

    span {
      font-weight: 400;
      opacity: 0.5;
      display: block;
      position: relative;
      z-index: 2;
      transition: all 0.5s cubic-bezier(0.4, 0, 0, 1);
    }

    &:hover,
    &:focus {
      text-decoration: none;

      &::after {
        transform: none;
      }

      span {
        opacity: 1;
      }
    }
  }

  &__documents {

    ul {
      margin: 0;
      padding: 0;
      list-style: none;
      max-width: none;

      li {
        margin-right: 0.125rem;
        display: inline-block;
        margin: 0;
        padding: 0;
        position: relative;

        &:not(:last-child) {
          padding-right: 0.5rem;

          &::after {
            position: relative;
            content: '|';
            opacity: 0.25;
            margin-left: 0.5rem;
          }
        }

        a {
          opacity: 0.5;
          display: inline-block;
          color: currentColor;
          transition: all 0.25s cubic-bezier(0.4, 0, 0, 1);

          &:hover,
          &:focus {
            text-decoration: none;
            opacity: 1;
          }
        }
      }
    }
  }

  &__social {
    padding: 2rem 2.25rem;

    a {
      display: inline-block;
      vertical-align: middle;
      opacity: 0.75;
      color: currentColor;
      transition: all 0.25s cubic-bezier(0.4, 0, 0, 1);

      &:hover,
      &:focus {
        opacity: 1;
        color: $primary-color;
        text-decoration: none;
      }
    }
  }
}