.s-our-ships {
  background-color: $bg-color--shade;
  color: $text-color;
  padding: 2rem 1rem;

  @media only screen and (min-width: $screen-sm) {
    padding: 2rem 3rem;
  }

  &__title {
    font-weight: 700;
    text-transform: uppercase;
    font-size: 1.414em;
    line-height: 1.3em;
    margin-top: 0;
    margin-bottom: 1rem;
    opacity: 0.75;

    @media only screen and (min-width: $screen-sm) {
      margin-bottom: 2.25rem;
      text-align: center;
    }
  }

  &__list {
    margin: 0;
    padding: 0;
    list-style: none;

    @media only screen and (min-width: $screen-sm) {
      display: flex;
      flex-flow: row wrap;
      margin-right: -0.5rem;
      margin-left: -0.5rem;
    }
  }

  &__item {
    margin: 0;
    padding: 0;
    position: relative;
    margin-bottom: 1rem;
    border-radius: 4px;
    overflow: hidden;

    &:hover {

      .s-our-ships__item-cover {

        &::after {
          background-color: rgba($text-color, 0.125);
        }

        img {
          transform: scale(1.05);
        }
      }
    }

    @media only screen and (min-width: $screen-sm) {
      padding-right: 0.5rem;
      padding-left: 0.5rem;
      flex: 0 0 33.333333%;
      max-width: 33.333333%;
    }

    @media only screen and (min-width: $screen-md) {
      flex: 0 0 100%;
      max-width: 100%;
    }

    @media only screen and (min-width: $screen-lg) {
      flex: 0 0 33.333333%;
      max-width: 33.333333%;
    }
  }

  &__card {
    position: relative;
    border-radius: 4px;
    overflow: hidden;
  }

  &__item-cover {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    overflow: hidden;

    &::after {
      position: absolute;
      content: '';
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba($text-color, 0.5);
      transition: all 0.5s cubic-bezier(0, 0, 0, 1);
    }

    img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
      transition: all 0.5s cubic-bezier(0, 0, 0, 1);
    }
  }

  &__item-info {
    min-height: 210px;
    position: relative;
    z-index: 2;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;

    @media only screen and (min-width: $screen-xl) {
      min-height: 300px;
    }
  }

  &__item-title {
    color: #fff;
    margin: 0;
    padding: 0;
    font-size: 1rem;
    font-weight: 600;
    line-height: 1.5em;
    position: absolute;
    bottom: 1rem;
    left: 1rem;
    max-width: calc(100% - 2rem);
  }
}