.s-page-header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  border-bottom: 1px solid rgba(#fff, 0.125);
  z-index: 100;
  color: #fff;

  @media only screen and (min-width: $screen-md) {
    display: none;
  }

  &__inner {
    padding: 1rem;
    display: flex;
    flex-flow: row wrap;
    align-items: center;

    .s-hamburger {
      margin-left: auto;
    }
  }

  &--dark {
    border-bottom: 1px solid rgba($text-color, 0.125);
    position: relative;

    .s-logo {

      .logo-shade-shape {
        fill: $text-color;
      }
    }

    .s-hamburger {

      span {
        background-color: $text-color;
      }
    }
  }
}