.s-mobile-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  z-index: 101;
  background-color: $bg-color;
  color: $text-color;
  will-change: transform;
  transform: translate3d(100%, 0, 0);
  transition: transform 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);
  font-size: 0.707em;
  line-height: 1.4em;

  &__header {
    padding: 1rem;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    border-bottom: 1px solid rgba($text-color, 0.05);
  }

  &__close {
    padding: 10px;
    margin-left: auto;
    display: block;

    svg {
      display: block;
    }
  }

  &__main {
    flex-grow: 1;
  }

  &__nav {
    border-bottom: 1px solid rgba($text-color, 0.05);
    padding-top: 1rem;
    padding-bottom: 1rem;

    > ul {

      > li {

        > a {
          padding: 0.75rem 1rem;
        }
      }
    }
  }

  &__languages {
    padding: 1.5rem;
    border-bottom: 1px solid rgba($text-color, 0.05);

    ul {
      display: inline-block;
      vertical-align: middle;

      li {
        display: inline-block;
        margin: 0 0.25em 0 0;

        &:not(:last-child):after {
          content: '/';
          display: inline-block;
          margin-left: 0.25em;
          opacity: 0.25;
        }

        a {
          opacity: 0.5;
          vertical-align: top;
        }

        span {
          display: inline-block;
          vertical-align: top;
        }
      }
    }
  }

  &__subtitle {
    font-size: 0.5rem;
    line-height: 1.4em;
    display: inline-block;
    font-weight: 400;
    margin-bottom: 1rem;
    letter-spacing: 0.1em;
    opacity: 0.25;
    display: block;
    color: currentColor;
  }

  &__language {
    width: 60px;
    height: 60px;
    text-align: center;
    background-color: $text-color;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    color: #fff;
    margin-right: 1rem;
    position: relative;
    overflow: hidden;

    &::after {
      position: absolute;
      content: '';
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: $primary-color;
      transform: translateY(100%);
      transition: all 0.5s cubic-bezier(0.4, 0, 0, 1);
      opacity: 0.25;
    }

    span {
      font-weight: 400;
      opacity: 0.5;
      display: block;
      position: relative;
      z-index: 2;
      transition: all 0.5s cubic-bezier(0.4, 0, 0, 1);
    }

    &:hover,
    &:focus {
      text-decoration: none;

      &::after {
        transform: none;
      }

      span {
        opacity: 1;
      }
    }
  }

  &__contacts {
    padding: 1rem;
    margin-top: auto;

    ul {
      margin: 0;
      padding: 0;
      list-style: none;
      max-width: none;

      li {
        margin: 0;
        padding: 0;

        a {
          padding: 0.25rem 0;
          font-feature-settings: 'tnum',
            'kern';
          font-weight: 400;
          color: currentColor;
          display: inline-block;
          opacity: 0.75;
          transition: all 0.25s cubic-bezier(0.4, 0, 0, 1);
          white-space: nowrap;

          @supports (font-variant: lining-nums) {
            font-feature-settings: normal;
            font-variant: tabular-nums;
            font-kerning: normal;
          }

          &:hover,
          &:focus {
            opacity: 1;
            color: $primary-color;
            text-decoration: none;
          }
        }

        address {
          margin-top: 0.25rem;
          margin-bottom: 0;
          opacity: 0.5;
        }
      }
    }
  }

  &__footer {
    padding: 1rem 1rem 0;
    border-top: 1px solid rgba($text-color, 0.05);
    flex-shrink: 0;
    margin-top: auto;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
  }

  &__documents {

    ul {
      margin: 0;
      padding: 0;
      list-style: none;
      max-width: none;

      li {
        margin-right: 0.125rem;
        display: inline-block;
        margin: 0;
        padding: 0;
        position: relative;

        &:not(:last-child) {
          padding-right: 0.5rem;

          &::after {
            position: relative;
            content: '|';
            opacity: 0.25;
            margin-left: 0.5rem;
          }
        }

        a {
          opacity: 0.5;
          display: inline-block;
          color: currentColor;
          transition: all 0.25s cubic-bezier(0.4, 0, 0, 1);

          &:hover,
          &:focus {
            text-decoration: none;
            opacity: 1;
          }
        }
      }
    }
  }

  &__social {
    padding: 1rem;

    a {
      display: inline-block;
      vertical-align: middle;
      opacity: 0.75;
      color: currentColor;
      transition: all 0.25s cubic-bezier(0.4, 0, 0, 1);

      &:hover,
      &:focus {
        opacity: 1;
        color: $primary-color;
        text-decoration: none;
      }
    }
  }

  &--is-open {
    transform: none;
  }
}