@keyframes btn-shadow {

  100% {
    box-shadow: 0 0 0 1rem rgba($primary-color, 0);
  }
}

.s-btn {
  position: relative;
  display: inline-block;
  background-color: $primary-color;
  background-image: none;
  color: #fff;
  margin: 0;
  padding: 13px 80px 15px;
  font-size: 1rem;
  line-height: 1.4em;
  border-radius: 4px;
  font-weight: 700;
  text-align: center;
  text-decoration: none;
  text-transform: lowercase;
  vertical-align: middle;
  cursor: pointer;
  touch-action: manipulation;
  user-select: none;
  overflow: hidden;
  box-sizing: border-box;
  white-space: nowrap;
  z-index: 1;
  box-shadow: 0 0 0 0 rgba($primary-color, 0.5);
  transition: all 0.5s cubic-bezier(0, 0, 0, 1);
  transform-origin: center center;
  will-change: transform;
  animation: btn-shadow 2s infinite 1s cubic-bezier(0.165, 0.84, 0.44, 1);

  @media only screen and (max-width: ($screen-xs - 1)) {
    width: 100%;
  }

  &:hover,
  &:focus {
    transform: scale(0.95);
  }

  &:active {
    transform: scale(0.9);
  }

  &:visited {}

  &--disabled,
  &:disabled {
    opacity: $opacity;
    cursor: not-allowed;

    @at-root a.s-btn--disabled {
      pointer-events: none;
    }
  }
}