.s-vacancies {
  background-color: $bg-color;

  &__inner {
    padding: 1rem;

    @media only screen and (min-width: $screen-sm) {
      padding: 3rem;
    }
  }

  &__cover {
    width: 100%;
    height: 300px;
    position: relative;

    &::after {
      position: absolute;
      content: '';
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba($text-color, 0.5);
    }

    img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}