//- !
//- Attention! This file is generated automatically.
//- Do not write anything here manually, all such edits will be lost.

include ../blocks/page/page.pug
include ../blocks/btn/btn.pug
include ../blocks/logo/logo.pug
include ../blocks/svg-icon/svg-icon.pug
include ../blocks/table/table.pug
include ../blocks/page-header/page-header.pug
include ../blocks/page-footer/page-footer.pug
include ../blocks/hamburger/hamburger.pug
include ../blocks/main-nav/main-nav.pug
include ../blocks/promo/promo.pug
include ../blocks/social/social.pug
include ../blocks/sidebar/sidebar.pug
include ../blocks/mobile-menu/mobile-menu.pug
include ../blocks/vacancies/vacancies.pug
include ../blocks/our-ships/our-ships.pug
include ../blocks/contacts/contacts.pug
include ../blocks/intro/intro.pug
include ../blocks/services/services.pug
include ../blocks/loader/loader.pug
