@keyframes icon-shadow {

  100% {
    box-shadow:
      0px 0px 1px rgba(0, 0, 0, 0.04),
      0px 2px 6px rgba(16, 164, 198, 0.12),
      0px 10px 20px rgba(16, 164, 198, 0.18),
      0 0 0 1rem rgba($primary-color, 0);
  }
}

.s-services {
  padding: 1rem;
  background-color: $bg-color--shade;

  @media only screen and (min-width: $screen-sm) {
    padding: 3rem;
  }

  &__inner {
    background-color: #fff;
    box-shadow: 0px 5px 10px rgba(27, 35, 50, 0.1);
    border-radius: 15px;
    padding: 3rem 1rem 1.5rem;
    position: relative;

    &::before {
      position: absolute;
      content: '';
      width: 60px;
      height: 60px;
      top: 0;
      left: calc(30px + 1rem);
      transform: translate3d(-50%, -50%, 0);
      box-shadow:
        0px 0px 1px rgba(0, 0, 0, 0.04),
        0px 2px 6px rgba(16, 164, 198, 0.12),
        0px 10px 20px rgba(16, 164, 198, 0.18),
        0 0 0 0 rgba($primary-color, 0.25);
      background-color: $primary-color;
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 26 34'%3E%3Cpath fill='%23fff' d='M25.9269 20.9531l-1.368-2.8363c-.2393-.4964-.9917-.4964-1.2311 0l-1.3679 2.8363c-.1026.2127-.1026.4963.0342.6736.1368.2127.342.3191.5814.3191h.6839c0 3.5099-2.77 6.3816-6.1556 6.3816-1.8809 0-3.4198-1.5954-3.4198-3.5453V12.7633h3.4198v.7091c0 .39.3078.709.6839.709.3762 0 .684-.319.684-.709v-2.8363c0-.39-.3078-.70909-.684-.70909-.3761 0-.6839.31909-.6839.70909v.7091H13.684V8.43796c1.9493-.35454 3.4198-2.09177 3.4198-4.18353C17.1038 1.91449 15.2571 0 13 0c-2.2571 0-4.10377 1.91449-4.10377 4.25443 0 2.09176 1.47047 3.86444 3.41977 4.18353v2.90724H8.89623v-.7091c0-.39-.30778-.70909-.68396-.70909s-.68396.31909-.68396.70909v2.8363c0 .39.30778.709.68396.709s.68396-.319.68396-.709v-.7091H12.316v12.0542c0 1.95-1.5389 3.5454-3.41977 3.5454-3.38561 0-6.15565-2.8718-6.15565-6.3817h.68396c.37618 0 .68396-.3191.68396-.709 0-.1773-.06839-.3191-.13679-.4255l-1.29953-2.7299c-.23938-.4964-.99174-.4964-1.23113 0L.0731304 20.9531c-.1025942.2127-.1025941.4963.0341986.6736.136792.2127.34198.3191.581367.3191h.683964c0 4.2899 3.38561 7.7998 7.52357 7.7998 1.88087 0 3.41977 1.5954 3.41977 3.5453 0 .39.3078.7091.684.7091.3762 0 .684-.3191.684-.7091 0-1.9499 1.5389-3.5453 3.4198-3.5453 4.1379 0 7.5235-3.5099 7.5235-7.7998h.684c.2394 0 .4446-.1418.5814-.3191.1368-.1773.1368-.4609.0342-.6736zM10.2642 4.25443c0-1.55996 1.2311-2.83629 2.7358-2.83629 1.5047 0 2.7358 1.27633 2.7358 2.83629S14.5047 7.09072 13 7.09072c-1.5047 0-2.7358-1.27633-2.7358-2.83629zM13 30.7737c-.4104-.709-.9917-1.2763-1.6415-1.7018.684-.4254 1.2311-.9927 1.6415-1.7017.4104.709.9575 1.2763 1.6415 1.7017-.6498.4255-1.2311.9928-1.6415 1.7018z'/%3E%3C/svg%3E");
      background-size: 26px 34px;
      background-position: center;
      background-repeat: no-repeat;
      border-radius: 60px;

      @media only screen and (min-width: $screen-sm) {
        top: 0;
        left: 50%;
        animation: icon-shadow 2s infinite 1s cubic-bezier(0.165, 0.84, 0.44, 1);
      }
    }

    @media only screen and (min-width: $screen-sm) {
      padding: 4.5rem 2.25rem;
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 360 361'%3E%3Cg fill='%2310A4C6' opacity='.05'%3E%3Cpath d='M238.842 112.694c-27.456-27.4567-67.616-41.5946-114.059-57.9864C85.7155 40.9112 42.7553 25.7488.0000697-.00001573l-3e-8.81958973C42.687 26.5001 85.5789 41.5942 124.578 55.3906c46.375 16.3235 86.398 30.4614 113.786 57.8494 26.227 26.295 43.233 69.46 62.904 119.387 15.504 39.34 32.715 83.052 57.781 128.129h.751c-25.134-45.146-42.345-88.994-57.918-128.402-19.67-50.064-36.676-93.297-63.04-119.66z'/%3E%3Cpath d='M227.778 134.276c-26.705-28.207-69.051-40.2964-118.09-54.2294C74.9242 70.2115 37.2231 59.4202.00004933 41.3893l-6e-8 1.5025C37.0865 60.7862 74.651 71.5092 109.347 81.3443c48.834 13.8647 90.975 25.8857 117.475 53.8197 24.314 25.681 34.627 67.206 46.58 115.221 8.537 34.559 17.894 72.124 33.671 110.371h1.503c-15.846-38.384-25.271-76.017-33.877-110.644-12.02-48.22-22.402-89.882-46.921-115.836z'/%3E%3Cpath d='M204.966 157.088c-26.569-28.071-70.417-38.179-121.0946-49.858C57.0298 101.014 28.5491 94.4577.0683012 84.6227l-1e-7 2.1855C28.4125 96.575 56.7566 103.132 83.4616 109.279c50.4044 11.611 93.9794 21.651 120.0704 49.312 23.836 25.202 32.168 67.752 41.799 116.996 5.259 27.047 10.927 55.937 19.601 85.237h2.118c-8.743-29.436-14.411-58.464-19.739-85.647-9.766-49.653-18.099-92.477-42.345-118.089z'/%3E%3Cpath d='M183.52 178.534c-26.5-28.003-71.919-36.267-124.4411-45.76C40.0234 129.29 20.08 125.739.0683527 120.958l-1e-7 2.8C19.9434 128.471 39.6819 132.022 58.6008 135.437c52.1122 9.425 97.1212 17.553 123.0072 44.941 23.494 24.793 29.846 68.504 37.223 119.182 2.868 19.67 5.873 40.297 10.04 61.196h2.8c-4.235-21.036-7.24-41.799-10.108-61.606-7.582-51.088-14.002-95.209-38.043-120.616z'/%3E%3Cpath d='M155.859 206.195c-26.432-27.934-74.583-32.92-130.3834-38.657-8.3325-.888-16.86988-1.776-25.47557733-2.732l-1.5e-7 3.415C8.46912 169.177 16.8699 170.065 25.1341 170.885c55.1174 5.737 102.7219 10.654 128.2659 37.632 23.017 24.315 26.159 70.28 29.778 123.554.615 9.357 1.298 18.918 2.049 28.617h3.415c-.751-9.767-1.434-19.397-2.117-28.891-3.688-53.819-6.83-100.399-30.666-125.602z'/%3E%3Cpath d='M124.1 237.954c-23.7-25.065-69.6656-26.5-124.0999892-25.407l-1.7e-7 4.098C53.4783 215.62 98.624 216.986 121.094 240.755c14.412 15.23 18.305 41.935 18.305 74.787 0 14.07-.683 29.232-1.571 45.214h4.098c3.005-54.024 3.893-99.853-17.826-122.802z'/%3E%3Cpath d='M87.0815 274.973C69.8018 256.668 38.5891 253.048.00002356 254.824l-2.1e-7 4.781C37.428 257.898 67.4796 261.244 83.6665 278.251c10.5864 11.201 14.2745 29.778 14.2745 53.137 0 9.083-.5464 18.918-1.5026 29.368h4.7806c3.347-38.179 1.708-69.05-14.1375-85.783z'/%3E%3C/g%3E%3C/svg%3E");
      background-repeat: no-repeat;
      background-size: 360px 360px;
      background-position: 0 100%;

      @media only screen and (min-width: $screen-xl) {
        display: flex;
        flex-flow: row wrap;
      }
    }
  }

  &__block {

    @media only screen and (min-width: $screen-xl) {
      flex: 0 0 50%;
      max-width: 50%;
    }

    &:not(:last-child) {
      margin-bottom: 1.5rem;

      @media only screen and (min-width: $screen-xl) {
        margin-bottom: 0;
      }
    }
  }

  &__title {
    font-weight: 700;
    text-transform: uppercase;
    font-size: 1.414em;
    line-height: 1.3em;
    margin-top: 0;
    margin-bottom: 1.5rem;
    opacity: 0.75;
    width: 100%;

    @media only screen and (min-width: $screen-sm) {
      margin-bottom: 2.25rem;
      text-align: center;
    }
  }

  &__subtitle {
    font-weight: 700;
    font-size: 1rem;
    line-height: 1.3em;
    margin-top: 0;
    margin-bottom: 0.5rem;
    opacity: 0.75;

    @media only screen and (min-width: $screen-xl) {
      margin-bottom: 0.75rem;
    }
  }

  &__list {
    margin: 0;
    padding: 0;
    font-size: 0.707em;
    line-height: 1.5em;

    li {
      margin: 0;
      padding: 0;
      position: relative;
      padding-left: 1.5rem;

      @media only screen and (min-width: $screen-xl) {
        padding-right: 1.5rem;
      }

      &::before {
        position: absolute;
        content: '';
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 16 11'%3E%3Cpath fill='%2310A4C6' d='M0 9.23727C.0909953 10.1255 1.27393 11 2.4872 11h6.26351C11.89 11 16 7.9118 16 5.50683 16 3.15652 11.89.0273292 8.76588.0273292 8.70521.0136646 5.0654 0 2.4872 0 1.48626 0 .561137.532919.151659 1.28447c0 0-.1061613.2323-.1364931.4236L0 9.23727z'/%3E%3C/svg%3E");
        width: 16px;
        height: 11px;
        background-size: contain;
        top: 0.25rem;
        left: 0;
      }

      &:not(:last-child) {
        margin-bottom: 0.25rem;
      }
    }
  }
}