.s-contacts {
  position: relative;

  @media only screen and (min-width: $screen-md) {
    width: 100%;
    height: 100%;
  }

  &__map {
    width: 100%;
    height: 460px;
    position: relative;
    z-index: 9;

    @media only screen and (min-width: $screen-md) {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  }

  &__title {
    font-weight: 600;
    font-size: 1.414em;
    line-height: 1.3em;
    margin-top: 0;
    margin-bottom: 1rem;

    span {
      position: relative;
      padding-left: 2rem;

      &::before {
        position: absolute;
        content: '';
        top: 3px;
        left: 0;
        width: 25px;
        height: 18px;
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 25 18'%3E%3Cpath fill='%2310A4C6' d='M18.9858 18c-.1179 0-.2358-.0382-.3537-.1146l-5.4246-4.051H12.5c-6.99686 0-12.5-3.0573-12.5-6.9172C0 3.01911 5.50314 0 12.5 0 19.4969 0 25 3.05732 25 6.9172c0 .61146-.1179 1.22293-.3538 1.79618-.1179.30573-.4717.42038-.7861.30573-.3145-.11465-.4324-.4586-.3145-.76433.1965-.4586.2752-.9172.2752-1.3758 0-3.13376-5.1887-5.7707-11.3208-5.7707-6.13208 0-11.32075 2.63694-11.32075 5.7707 0 3.13372 5.18867 5.77072 11.32075 5.77072h.9041c.1572 0 .2751.0382.3931.1146l4.4811 3.3631-.4717-3.5542c-.0393-.2675.1572-.535.4324-.6114.8648-.2293 1.6902-.535 2.3978-.9172.2752-.1529.6289-.0382.7862.2293.1572.2675.0393.6114-.2359.7643-.6289.344-1.3365.6115-2.1226.8408l.511 4.4713c.0393.2293-.0786.4586-.2752.5733-.1179.0764-.2358.0764-.3145.0764z'/%3E%3C/svg%3E");
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
      }
    }

    @media only screen and (min-width: $screen-md) {
      background-color: $bg-color--shade;
      padding: 2rem;
      margin: 0;
    }
  }

  &__subtitle {
    font-weight: 600;
    vertical-align: baseline;
  }

  &__info {
    padding: 1rem;
    background-color: #fff;
    font-size: 0.707em;
    line-height: 1.5em;

    @media only screen and (min-width: $screen-md) {
      position: absolute;
      bottom: 10%;
      right: 10%;
      z-index: 10;
      padding: 0;
      box-shadow: 0px 15px 45px rgba(33, 50, 58, 0.125);
      border-radius: 2px;
    }

    ul {
      margin: 0;
      padding: 0;
      list-style: none;

      @media only screen and (min-width: $screen-md) {
        padding: 2rem;
      }

      li {
        margin: 0;
        padding: 0;

        @media only screen and (min-width: $screen-md) {
          margin-bottom: 0.5rem;
        }

        a {
          padding: 0.25rem 0;
          font-feature-settings: 'tnum',
            'kern';
          display: inline-block;
          vertical-align: baseline;
          color: currentColor;
          white-space: nowrap;

          @supports (font-variant: lining-nums) {
            font-feature-settings: normal;
            font-variant: tabular-nums;
            font-kerning: normal;
          }

          &:hover,
          &:focus {
            color: $primary-color;
            text-decoration: none;
            opacity: 1;
          }
        }

        address {
          margin: 0.25rem 0;
        }
      }
    }
  }
}