.s-intro {
  background-color: $bg-color--shade;
  padding: 2rem 1rem 1rem;
  z-index: 2;

  @media only screen and (min-width: $screen-sm) {
    padding: 0 3rem;
    margin-bottom: -2.25rem;
  }

  &__inner {
    background-color: $bg-color;
    box-shadow: 0px 5px 10px rgba(27, 35, 50, 0.1);
    border-radius: 15px;
    padding: 2.5rem 1rem 1rem 1rem;
    max-width: 780px;
    margin: auto;
    transition:
      opacity 0.25s cubic-bezier(0.165, 0.84, 0.44, 1) 0.5s,
      transform 1.25s cubic-bezier(0.165, 0.84, 0.44, 1) 0.5s;
    will-change: transform;

    &::before {
      position: absolute;
      content: '';
      width: 60px;
      height: 60px;
      top: 0;
      left: calc(30px + 1rem);
      transform: translate3d(-50%, -50%, 0);
      box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.04),
        0px 2px 6px rgba(16, 164, 198, 0.12),
        0px 10px 20px rgba(16, 164, 198, 0.18);
      background-color: $primary-color;
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 37 22'%3E%3Cpath fill='%23fff' d='M34.3053 4.72165h-1.7826l-2.591 2.55669-2.5911-2.57731h-4.3944v8.10317h-9.2034c-.9534-.0413-1.6997-.8248-1.6997-1.7733 0-.9484.7463-1.7319 1.6997-1.77318h7.3793V4.65979h-7.4829c-.1036 0-.1866 0-.2902.02062-3.3373.24742-5.92828 3.01031-5.92828 6.35049 0 3.3609 2.59098 6.1031 5.92828 6.3505.1036.0206.1866.0206.2902.0206h11.1104v-.0206h2.7983v-6.8247l2.3423 2.3299.0207-.0206.0208.0206 2.4044-2.3917v6.8865h4.6225V4.70103h-2.6533v.02062z'/%3E%3Cpath fill='%23fff' d='M13.3075 18.5361c-3.89685-.3093-6.94392-3.5876-6.94392-7.4845 0-3.89696 3.04707-7.17531 6.94392-7.48459.0415 0 23.651-.02062 23.651-.02062C36.4818 1.50516 34.6369 0 32.4605 0H13.121C7.44148 0 0 6.18557 0 11.0103c0 4.701 7.44148 10.9691 13.121 10.9691.0622 0 17.5568.0206 19.4016.0206 2.1558 0 3.9592-1.4639 4.4774-3.4433-.0415 0-23.568-.0206-23.6925-.0206z'/%3E%3C/svg%3E");
      background-size: 37px 22px;
      background-position: 45% 50%;
      background-repeat: no-repeat;
      border-radius: 60px;
    }

    @media only screen and (min-width: $screen-sm) {
      text-align: center;
      padding: 3rem 6rem 2.25rem 6rem;
      transform: translateY(-50%);
      position: relative;
      z-index: 1;

      &::before {
        top: 0;
        left: 50%;
        opacity: 1;
        transition: opacity 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) 0.5s,
        transform 1s cubic-bezier(0.165, 0.84, 0.44, 1) 0.5s;
      }
    }

    &--is-hidden {

      @media only screen and (min-width: $screen-sm) {
        opacity: 0;
        transform: translateY(-30%);

        .s-intro__title {
          opacity: 0;
          transform: translateY(25%);
        }

        .s-intro__desc {
          opacity: 0;
          transform: translateY(25%);
        }

        &::before {
          opacity: 0;
          transform: translate3d(-50%,-25%,0);
          box-shadow:
            0px 0px 1px rgba(0, 0, 0, 0.02),
            0px 1px 3px rgba(16, 164, 198, 0.6),
            0px 5px 10px rgba(16, 164, 198, 0.8);
        }
      }
    }
  }

  &__title {
    font-weight: 700;
    font-size: 1rem;
    line-height: 1.3em;
    margin-top: 0;
    margin-bottom: 0.5rem;
    opacity: 0.75;
    text-transform: uppercase;

    @media only screen and (min-width: $screen-sm) {
      transform: translateY(0%);
      transition: opacity 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) 0.7s,
      transform 1s cubic-bezier(0.165, 0.84, 0.44, 1) 0.7s;
    }
  }

  &__desc {
    margin-top: 0;
    font-size: 0.707em;
    line-height: 1.5em;
    opacity: 0.75;

    @media only screen and (min-width: $screen-sm) {
      transform: translateY(0%);
      transition: opacity 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) 0.75s,
      transform 1s cubic-bezier(0.165, 0.84, 0.44, 1) 0.75s;
    }
  }
}