extends pug/layout.pug

block meta
  - var title = 'Контакты';
  title= title
  meta(name='description', content='')

block header
  +page-header('dark')
  +mobile-menu()

block content
  .s-contacts
    .s-contacts__info
      h1.s-contacts__title: span Get in touch!
      ul
        li
          address
            | БЦ “Империал”, пр. Стачек,
            br
            | д. 48/2, офис 2401,
            br
            | Санкт-Петербург, Россия
        li
          span.s-contacts__subtitle Phone:
          a(href='tel:+78124587400') +7 (812) 458-74-00
        li
          span.s-contacts__subtitle E–mail:
          a(href='mailto:info@c-crewmanagement.com') info@c-crewmanagement.com

    .s-contacts__map#map

block append page-bottom
  script.

    // GoogleMap
    function initMap() {
      var map = new google.maps.Map(document.getElementById('map'), {
        zoom: 13,
        center: {lat: 59.93222, lng: 30.324154},
        scrollwheel: false
      });

      setMarkers(map);
    }

    var points = [
      ['C-Crew', 59.93222, 30.324154],
    ];

    function setMarkers(map) {
      var image = {
        url: 'img/icon-map.png',
        size: new google.maps.Size(86, 26),
        anchor: new google.maps.Point(75, 26)
      };

      for (var i = 0; i < points.length; i++) {
        var point = points[i];
        var marker = new google.maps.Marker({
          position: {lat: point[1], lng: point[2]},
          map: map,
          icon: image,
          title: point[0]
        });
      }
    }

  script(defer='', src='https://maps.googleapis.com/maps/api/js?key=AIzaSyCtNjPbrhp4TRuUYYrjCWy5WS8QMJ1be2A&signed_in=true&callback=initMap')
