extends pug/layout.pug

block meta
  - var title = 'Главная';
  title= title
  meta(name='description', content='')

block content
  section.s-promo
    .s-promo__slider.swiper-container
      .swiper-wrapper
        .swiper-slide
          .s-promo__slide
            .s-promo__slide-cover
              img(src='https://images.unsplash.com/photo-1518527989017-5baca7a58d3c?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1567&q=80', alt='/')
            .s-promo__slide-content
              .s-promo__slide-content-inner
                h1.s-promo__slide-title Focus on new horizons
                p.s-promo__slide-desc C-Crew Management LLC is a part of Conautic Group company and provides a full range of services in recruiting and management of qualified seagoing personnel for the maritime industry.
                +btn('Contact us')
  section.s-intro
    .s-intro__inner.s-intro__inner--is-hidden
      h2.s-intro__title Welcome to the C-Crew Management LLC
      p.s-intro__desc The company staff is well experienced in this field and with implementing a quality management system, provides comprehensive service designed for long-term cooperation.

  section.s-our-ships
    .s-our-ships__inner
      h2.s-our-ships__title Our ships
      ul.s-our-ships__list
        li.s-our-ships__item
          .s-our-ships__card
            .s-our-ships__item-cover
              img(src='https://images.unsplash.com/photo-1517152987446-48cdf706f5d4?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1450&q=80', alt='/')
            .s-our-ships__item-info
              h3.s-our-ships__item-title Сухогруз
        li.s-our-ships__item
          .s-our-ships__card
            .s-our-ships__item-cover
              img(src='https://images.unsplash.com/photo-1549887613-8ec820b8c825?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1648&q=80', alt='/')
            .s-our-ships__item-info
              h3.s-our-ships__item-title Танкер
        li.s-our-ships__item
          .s-our-ships__card
            .s-our-ships__item-cover
              img(src='https://images.unsplash.com/photo-1558566455-b62dfa3e19a6?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1889&q=80', alt='/')
            .s-our-ships__item-info
              h3.s-our-ships__item-title Цементовоз

  section.s-services
    .s-services__inner
      h2.s-services__title What you may expect from us
      .s-services__block
        h3.s-services__subtitle For our customers
        ul.s-services__list
          li Selection and recruiting of seagoing personnel for any type of vessel;
          li Cost-effective crew management;
          li Pre-joining training of marine personnel;
          li Payroll and financial estimates;
          li Risk assessment and monitoring of the local market;
          li Can-do working attitude 24/7.
      .s-services__block
        h3.s-services__subtitle For our customers
        ul.s-services__list
          li We recruit seagoing personnel for foreign shipping companies;
          li We provide long-term cooperation with career opportunities;
          li We offer a convenient work schedule;
          li We arrange visa support and registration of the necessary documents required by the administration of the flag country of the vessel;
          li We carry out the necessary tests and organize pre-joining trainings in accordance with the requirements of shipowners or ship managers;
          li All services for seafarers are free of charge.