extends pug/layout.pug

block meta
  - var title = 'Вакансии';
  title= title
  meta(name='description', content='')

block content
  section.s-vacancies
    .s-vacancies__cover
      img(src='https://images.unsplash.com/photo-1496917756835-20cb06e75b4e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1566&q=80', alt='/')
    .s-vacancies__inner
      .s-vacancies__text
        h1 Zombie brains
        p Voodoo sacerdos locus coeruleus flesh eater, lateral geniculate nucleus suscitat mortuos braaaains comedere carnem superior colliculus virus. Zonbi cerebellum tattered for brein solum oculi cerveau eorum defunctis cerebro go lum cerebro. Nescio brains an Undead cervello zombies. Sicut thalamus malus putrid brains voodoo horror. Nigh basal ganglia tofth eliv ingdead.
        h2 Cum prefrontal cortex horribilem walking
        p Fornix dead resurgere brains de crazed limbic cortex optic nerve sepulcris creaturis, braaaaaiins zombie sicut hypothalamus de grave hippocampus feeding iride brainz et serpens.
        h3 Pestilentia, pitiutary gland shaun ofthe optic
        p Gland dead scythe brains animated corpses spinal cord ipsa screams medulla. Pestilentia braynz est plague locus coeruleus haec decaying lateral geniculate nucleus ambulabat mortuos.
        h4 Sicut breins zeder apathetic superior colliculus malus voodoo.
        p Brains aenean a cerebellum dolor plan cerveau et terror braaaaaaiiiinssss soulless vulnerum cerebro contagium accedunt, cervello mortui iam thalamus vivam unlife.
        h4 Erveau et terror braaaaaaiiiinssss soulless vulnerum cerebro contagium accedunt
        ul
          li Medulla lucio brains fulci tremor locus coeruleus est dark vivos lateral geniculate nucleus magna.
          li Breins expansis creepy superior colliculus arm yof cerebellum darkness ulnis brains witchcraft missing cerveau carnem armis cerebro Kirkman Moore braaiiiinnns and Adlard cervello caeruleum in thalamus locis.
          li Romero basal ganglia morbo brains Congress amarus prefrontal cortex in auras fornix. Nihil horum braaiins sagittis tincidunt, limbic cortex zombie slack-jawed optic nerve gelida survival breins portenta.
        h4 Alii hypothalamus missing oculis brayns aliorum sicut hippocampus serpere crabs pitiutary gland nostram
        ol
          li The hypothalamus unleashed virus hippocampus est, et pitiutary gland iam zombie braynz mortui ambulabunt optic gland super terram substantia nigra.
          li Souless mortuum braynz glassy-eyed oculos spinal cord attonitos indifferent medulla back zom brains bieapoc alypse locus coeruleus.
          li An hoc lateral geniculate nucleus dead braaaiiiins sociopathic inciperesuperior colliculus Clairvius Narcisse cerebellum, an ante cerveau? Is bello brains mundi z?
        h4 Sicut breins zeder apathetic superior colliculus malus voodoo.
        +table()
          thead
            +row
              th Joining date
              th Rank
              th Vessel type
              th Engine type
              th Description
              th Manager
          tbody
            +row
              +cell 30-11-2019
              +cell Pumpman
              +cell Product Tanker 14000
              +cell Wartsila 2x2203
              +cell Looking C/O with with previous V.Ships experience
              +cell Tatyana Trutneva
            +row
              +cell 30-11-2019
              +cell Pumpman
              +cell Product Tanker 14000
              +cell Wartsila 2x2203
              +cell Looking C/O with with previous V.Ships experience
              +cell Tatyana Trutneva
            +row
              +cell 30-11-2019
              +cell Pumpman
              +cell Product Tanker 14000
              +cell Wartsila 2x2203
              +cell Looking C/O with with previous V.Ships experience
              +cell Tatyana Trutneva
            +row
              +cell 30-11-2019
              +cell Pumpman
              +cell Product Tanker 14000
              +cell Wartsila 2x2203
              +cell Looking C/O with with previous V.Ships experience
              +cell Tatyana Trutneva
            +row
              +cell 30-11-2019
              +cell Pumpman
              +cell Product Tanker 14000
              +cell Wartsila 2x2203
              +cell Looking C/O with with previous V.Ships experience
              +cell Tatyana Trutneva
            +row
              +cell 30-11-2019
              +cell Pumpman
              +cell Product Tanker 14000
              +cell Wartsila 2x2203
              +cell Looking C/O with with previous V.Ships experience
              +cell Tatyana Trutneva
            +row
              +cell 30-11-2019
              +cell Pumpman
              +cell Product Tanker 14000
              +cell Wartsila 2x2203
              +cell Looking C/O with with previous V.Ships experience
              +cell Tatyana Trutneva
            +row
              +cell 30-11-2019
              +cell Pumpman
              +cell Product Tanker 14000
              +cell Wartsila 2x2203
              +cell Looking C/O with with previous V.Ships experience
              +cell Tatyana Trutneva

