// Width
$screen-xs:                   576px;
$screen-sm:                   768px;
$screen-md:                   992px;
$screen-lg:                   1200px;
$screen-xl:                   1440px;
$screen-xxl:                  1920px;


// Colors
$text-color:                  #1b2332;
$text-color--lighter:         lighten($text-color, 25%);
$bg-color:                    #fff;
$bg-color--shade:             #f6f6f6;
$bg-color--dark:              $text-color;
$primary-color:               #1aa0be;


// Misc
$border-color:                currentColor;
$border-radius:               2px;
$opacity:                     0.5;
$box-shadow:                  0 15px 45px -15px rgba($text-color, 0.25);


// Font
$font-family:
Montserrat,
system-ui,
-apple-system,
BlinkMacSystemFont,
'Segoe UI',
Roboto,
Oxygen-Sans,
Ubuntu,
Cantarell,
'Helvetica Neue',
sans-serif;

$font-family--monospace: Menlo, Monaco, Consolas, 'Liberation Mono', 'Courier New', nospace;


// Layout

@mixin section-padding {
  padding: 2rem 0;

  @media (min-width: $screen-sm) {
    padding: 4rem 0;
  }
}

@mixin section-title {
  font-size: 1.414em;
  line-height: 1.3em;
  margin-bottom: 2rem;
  color: #595959;
  font-weight: 800;
  text-transform: uppercase;

  @media only screen and (min-width: $screen-md) {
    font-size: 1.999em;
    line-height: 1.2em;
  }
}