.s-hamburger {
  width: 40px;
  height: 40px;
  padding: 0;
  position: relative;
  cursor: pointer;
  display: inline-block;
  vertical-align: middle;

  &::after {
    position: absolute;
    content: '';
    top: -1rem;
    right: -1rem;
    bottom: -1rem;
    left: -1rem;
  }

  span {
    display: inline-block;
    width: 40px;
    height: 2px;
    background-color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate3d(-50%,-20%,0);
    border-radius: 2px;

    &::before,
    &::after {
      position: absolute;
      content: '';
      display: block;
      width: 40px;
      height: 2px;
      right: 0;
      background-color: inherit;
      border-radius: 2px;
    }

    &::before {
      top: -0.5rem;
      width: 60%;
    }

    &::after {
      bottom: -0.5rem;
      width: 80%;
    }
  }
}